@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


body {
    color: #bbbbbb;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock-face {
    display: flex;
    font-family: 'Orbitron', monospace;
    text-align: center;
    font-size: 5rem;
    color: #1a31ff;
    background-color: #000000;
    padding: 10px 25px;
    border-radius: 8px;
    letter-spacing: 4px;
    box-shadow: 0 0 20px rgba(128, 221, 243, 0.4);
}

.age {
    color: #442299;
    background-color: #000000;
}